<h1> Make New Profile </h1>

<p> Note: you must have a real_name and/or alias </p>

<% if @profile.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@profile.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>

    <ul>
    <% @profile.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [@user, @profile] do |f| %>
  <div class="field">
    <%= f.label :real_name %>
    <%= f.text_field :real_name %>
  </div><br><br>

  <div class="field">
    <%= f.label :alias %>
    <%= f.text_field :alias %>
  </div><br><br>

  <div class="field">
    <%= f.label :birthday %>
    <%= f.text_field :birthday %>
  </div><br><br>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div><br><br>

  <div class="field">
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </div><br><br>

  <%= f.submit "Create Profile" %>
<% end %>
