<h1> <%= @user.email %> Personal Page </h1>

<%= button_to "See other member blogs", users_path, method: 'get' %>

<h3> <%= @user.email %>'s personal interests </h3>

<ul>
<% @user.interests.each do |interest| %>
  <li> <%= interest.title %> </li>
<% end %>
</ul>

<% if params[:id].to_i == current_user.id %>
  <%= button_to 'Edit your interests', '/interests', method: 'get' %><br>
<% end %>

<div>
  <% if @user.profile %>
    <h3> <%= "#{@profile.real_name || @profile.alias} Profile" %> </h3>

    <p> <%= "Birthday: #{@profile.birthday || 'No birthday shared'}" %> </p><br>

    <p> <%= "Location: #{@profile.location || 'no location shared'}" %> </p><br>

    <p> <%= "Biography: #{@profile.bio || 'No biography shared'}" %> </p><br>

    <% if params[:id].to_i == current_user.id %>
      <%= button_to "Edit Profile", edit_user_profile_path(@user.id), method: 'get' %>
    <% end %>

  <% else %>

    <%= button_to "Create your profile", new_user_profile_path(@user.id), method: 'get' %>

  <% end %>
</div>

<div>
  <% @blogposts.each do |blogpost| %>
    <h3> <%= "#{blogpost.title} (posted at: #{blogpost.created_at})" %> </h3>

    <p> <%= blogpost.body %> </p>

    <% if blogpost.user == current_user %>

      <%= button_to 'Edit Post', edit_user_blogpost_path(@user.id, blogpost.id), method: 'get' %><br>

      <%= button_to 'Delete Post', user_blogpost_path(@user.id, blogpost.id), method: 'delete' %>

    <% end %>

  <% end %>
</div>

<% if params[:id].to_i == current_user.id %>
  <div>
    <h3> Make a new blogpost </h3>
    <%= form_for [@user, @blogpost] do |f| %>
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div><br>

      <div class="field">
        <%= f.label :body %>
        <%= f.text_area :body %>
      </div><br>

      <%= f.submit "Create Blogpost" %>
    <% end %>
  </div>
<% end %>

<div>
  <%= render partial: '/navigation' %>
</div>
