<h1 id='welcome-text'> Welcome to Michigan Think Free! </h1>

<div id='welcome-menu'>
  <%= button_to "About Michigan Think Free", '/about', method: 'get' %><br>

  <%= button_to "Discussion Board", '/posts', method: 'get' %><br>

  <%= button_to "Member Blogs", users_path, method: 'get' %> <br>

  <%= button_to "Member Interests", '/interests', method: 'get' %> <br>
</div>


<div id="navigation-menu">
  <%= render partial: '/navigation' %>
</div>
