<h1> Welcome to Michigan Think Free! </h1>

<%= button_to "About Michigan Think Free", '/about', method: 'get' %><br>

<%= button_to "Discussion Board", '/posts', method: 'get' %><br>


<% if @user %>
  <p> Welcome <%= @user.email %>!</p><br>
  <%= button_to "Your Homepage", @user, method: 'get' %>
  <%= button_to "Sign Out", 'users/sign_out', method: 'delete' %>
<% else %>
  <%= button_to "Log In", 'users/sign_in' %><br>
  <%= button_to "Sign Up", 'users/sign_up', method: 'get' %>
<% end %>
