<h1> This page lists all of the different interests some group members are into. </h1>

<ul>
<% @interests.each do |interest| %>
  <li> <%= interest.title %> </li>
  <p> <%= interest.description %> </p>
<% end %>
</ul>

<h3> Create a new interest </h3>

<% if @interest.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@interest.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
    <% @interest.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @interest do |f| %>
  <%= f.label "Title of New Interest" %>
  <%= f.text_field :title %><br><br>
  <%= f.label "Description of New Interest" %>
  <%= f.text_area :description %><br><br>
  <%= f.submit "Create Interest" %>
<% end %>
