<h1> Here is what we are talking about! </h1>

<% @posts.each do |post| %>
  <h3> <%= "#{post.title}, [posted at #{post.created_at}]" %> </h3>
  <p> <%= post.body %> </p>
  <p> posted by: <%= post.user.email %> </p> <br>

  <% post.comments.each do |comment| %>
    <p> <%= comment.user.email %> replied: </p>
    <p> <%= comment.body %> </p>
    <p> [At <%= comment.created_at %>] </p>
    <% if comment.user_id == current_user.id %>
      <%= button_to 'Delete comment', post_comment_path(post.id, comment.id), method: 'delete' %><br>
    <% end %>

  <% end %>

  <%= button_to "Join this discussion", post_path(post.id), method: 'get' %>

<% end %>

<p> Create a new post </p>

<%= button_to "New Post", '/posts/new', method: 'get' %>

<div>
  <%= render partial: '/navigation' %>
</div>
