<h1> <%= @post.title %> </h1>

<% @post.comments.each do |comment| %>
  <p> <%= comment.user.email %> said: <br>
      <%= comment.body %> </p> <br>
<% end %>

<h3> Write a new comment </h3>
<%= form_for [@post, @comment] do |f| %>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div><br><br>

  <%= f.submit %>
<% end %>

<h3> Go back to Discussion Board </h3>

<%= button_to "Discussion Board", posts_path, method: 'get' %><br>

<%= button_to "Go Home", root_path, method: 'get' %>
