<h1> <%= @post.title %> </h1>

<p> <%= @post.body %> </p>

<p> Posted by <%= @post.user.display_name %> on <%= @post.created_at %> </p>

<% if @post.comments.size == 0 %>
  <h3> No comments yet! Be the first to comment! </h3>
<% else %>
  <h3> Reply comments: </h3>

  <% @post.comments.each do |comment| %>
    <p> <strong> <%= comment.user.display_name %> said: </strong> </p>
    <p> <%= comment.body %> </p>
    <p> Commented on [ <%= comment.created_at %> ] </p>
    <% if !current_user.likes?(comment) %>
      <form action="/commentlikes" method='post'>
        <input type='hidden' name='users_id' value=<%= current_user.id %>>
        <input type='hidden' name='comments_id' value=<%= comment.id %>>
        <input type='submit' value='Like'>
      </form><br>
    <% end %>
    <p> <%= comment.likes %> members like this </p>
        <% if comment.user_id == current_user.id %>
          <%= button_to 'Delete comment', post_comment_path(@post.id, comment.id), method: 'delete' %>
        <% end %>
  <% end %>
<% end %>

<h3> Write a new comment </h3>
<%= form_for [@post, @comment] do |f| %>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div><br><br>

  <%= f.submit %>
<% end %>

<h3> Go back to Discussion Board </h3>

<%= button_to "Discussion Board", posts_path, method: 'get' %><br>


<div>
  <%= render partial: '/navigation' %>
</div>
